.addItemToCart {
    border: 1px solid black;
    background: none;
    text-decoration: none;
    padding: 6px;
    border-radius: 6px;
}

.removeWishlistItem {
    background: none;
    border: 1px solid black;
    border-radius: 7px;
    padding: 3px;
}