.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 2rem;
  padding: 60px 18px 38px 47px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  width: calc(25% - 16px);
  box-sizing: border-box;
}


@media screen and (max-width: 886px) {
  .product-list {
    padding: 170px 18px 38px 47px;;
  }
}

@media (max-width: 800px) {
  .product-card {
      width: calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .product-card {
      width: 100%;
  }
}
