/* ResetPassword.module.css */
.container {
    padding-top: 3rem;
  }
  
  .header {
    max-width: 32rem;
    margin: 0 auto 1rem auto;
  }
  
  .title {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
  }
  
  .formContainer {
    max-width: 32rem;
    margin: 0 auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 1rem;
  }
  
  .labelText {
    display: block;
    color: #4a5568;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input {
    border-radius: 0.25rem;
    width: 100%;
    color: #4a5568;
    outline: none;
    border: 1px solid #e2e8f0;
    padding: 0.5rem;
    transition: border-color 0.5s;
  }
  
  .input:focus {
    border-color: #805ad5;
  }
  
  .helperText {
    padding-top: 0.5rem;
    color: #e53e3e;
  }
  
  .button {
    background-color: #fde8e8;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:disabled {
    background-color: #e2e8f0;
    cursor: not-allowed;
  }
  