
h1{
    font-weight: 400;
}

Link {
    text-decoration: none;
}

.directLinks {
    text-decoration: none;
    color: black;
}


.upperNav {
    height: 10vh;
    width: 100vw;
    background-color: #fde8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34vh;
}

.lowerNav{
    height: 8vh;
    position: relative;
    margin-top: 80px;
    /* border: 2px solid red; */
    margin-top: 11.4vh;
}

.thirNav {
    /* border: 2px solid red; */
    height: 7vh;
    background-color: #fde8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thirNav p {
    margin: 35px;
}

.link {
    cursor: pointer;
}

.fourthNav {
    /* border: 2px solid red; */
    height: 6vh;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 5px 48px;
}

.filterIcon {
    cursor: pointer;
}


.fixed {
    position: fixed;
    top: 78px;
    width: 99.8vw;
    z-index: 1;

}
.AccountBox {
    /* border: 2px solid black; */
}



.links {
    display: flex;
    /* border: 2px solid black; */
    width: 20vw;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding: 0rem 1rem 0rem 4rem;
}

.logLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartLink {
   
}

.links li {
    /* border: 2px solid black; */
    height: 72px;
}

.link {
    background: none;
}
button {
    display: flex;
    flex-direction: column-reverse;
}

.search {
    background: none;
    border: none;
}

.searchBox {
    display: flex;
    height: 5vh;
    width: 50vw;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.searchInput {
    width: 50vw;
    /* border: 2px solid black; */
    /* border: 1px solid black; */
    border-radius: 10px;
}

.searchBtn {
    font-size: 1.2rem;
    background-color: transparent;
    margin-right: 0rem;
    position: relative;
    left: -41px;
    top: -7px;
}
 
.Logo {
    margin-left: 3rem;
    text-decoration: none;
    font-size: 25px;
    color: rgb(233, 34, 8);
}


.cartBtn {
    background: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.cartTotal {
    position: relative;
    right: -17px;
    top: 8px;
    background-color: #fde8e8;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(233, 34, 8);
}



ul {
    list-style: none;
}

.loginLink {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(233, 34, 8);
}

.cartImg {
    font-size: 1px;
    color: rgb(233, 34, 8);
}

.heartImg {
    color: red;
}

.wishlistBtn {
    border: none;
    background: none;
}

.wishlistTotal {
    position: relative;
    top: 6px;
    right: -14px;
    color: red;
}

.AccountBox {
    position: absolute;
    top: calc(173% + 10px);
    left: 71px;
    z-index: 14;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    transition: left 0.3s ease;
    max-width: 300px;
    margin: auto;
}

.AccountBox.open {
    opacity: 1; /* Set opacity to 1 when open */
    visibility: visible; /* Set visibility to visible when open */
    left: -164px;
}




.AccountLink {
    /* margin-right: 4rem; */
    position: relative;
    display: flex;
    align-items: center;
}

.AccountBtn {
    /* border: 2px solid black; */
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userImg {

}

.cartLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.wishlistBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 8px;
}

.underline {
    text-decoration: none;
}

.lowerNavLinks {
    display: flex;
    justify-content: space-between;
    width: 43vw;
}


.lowerNavLinks .link:hover,
.lowerNavLinks .link.active {
  border-bottom: 2px solid black;
}

.menu {
    position: absolute;
    /* top: 100%; */
    /* left: 0; */
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    padding: 5px;
    height: 26vw;
    width: 97vh;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }


  .menuContainer {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid red; */
  }
 

  .MenuTitle1 {
    color: red;
    font-weight: 100;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: -4px 41px;
  }
  
  .menu ul li {
    cursor: pointer;
  }
  
  .menu ul li:hover {
    color: red; /* Change color on hover */
  }
/* .filterWindow {
    border: 2px solid red;
    height: 25vh;
    width: 25vw;
} */

.filterWindow {
    position: fixed;
    top: 160px;
    left: 0;
    z-index: 1;
    height: 53%;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    /* border: 2px solid red; */
    padding: 20px;
}

.filterWindow.open {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .closeButton {
    margin-top: 20px;
    padding: 10px;
    background-color:  #fde8e8;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .filterContainer {
    /* border: 2px solid red; */
  }
  
  .filterContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
  }
  
  .filterItem {
    flex: 1 1 200px;
  }
  
  label {
    display: block;
    margin-bottom: 4px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .applyFilters {
    /* border: 2px solid red; */
    margin-top: 40px;
    margin-left: 204px;
    height: 40px;
    display: flex;
    background-color: #fde8e8;
    width: 106px;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  /* Add this CSS to your stylesheets */


  
  .name {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .name p {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .profile,
  .orders,
  .logout {
    margin-top: 10px;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  /* Add more styling as needed */
  


@media screen and (max-width: 1120px)  {


    .fixed {
        position: fixed;
        top: 193px;
        width: 99.8vw;
        z-index: 1;
    
    }
    .upperNav {
        display: flex;
        flex-direction: column;
        height: 25vh;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .links {
        /* border: 2px solid red; */
        /* margin-top: -3px; */
        width: 35vw;
        margin-left: -43px;
        /* order: 2; */
    }

    .searchBox {
        /* border: 2px solid red; */
        margin-top: -12px;
        /* order: 3; */
    }

    .Logo {
        margin-top: 16px;
        margin: auto;
        /* order: 1; */
        /* border: 2px solid red; */
    }

    .searchBtn {
        font-size: 1.2rem;
        background-color: transparent;
        margin-right: 0rem;
        position: relative;
        left: -44px;
        top: -12px;
    }

    .lowerNav {
        display: none;
    }
 }